<mat-toolbar class="toolbar-header">
  <button mat-icon-button>
    <mat-icon class="header-icon" fontSet="fas" fontIcon="fa-video-camera"></mat-icon>
  </button>
  <span class="header-text">MOVIES</span>
  <button mat-stroked-button class="ml-2 mr-2" (click)="onHomeClicked()">Home</button>
  <button mat-stroked-button (click)="onWatchListClicked()">Watched List</button>
  <span class="spacer"></span>
  <button mat-stroked-button class="mr-2" (click)="onLoginClicked()">Login</button>
  <button mat-stroked-button (click)="onRegisterClicked()">Register</button>
</mat-toolbar>
